# Ignore all files and folders except the site folder
# /*
# !site/

# Add rules to ensure excluded files are deleted from the cloud repository
# !/.gitignore
# !/.gitattributes

# !/readme.md

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vs
*.git